<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arbolito</title>
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/user.css">
    <link rel="stylesheet" href="/stylesheets/index.css">

</head>
<body>
    <div class="d-grid">
        <nav class="nav">
            <a href="/" class="logo"><img src="/images/arbolito.svg" alt="Logo" class="logo"></a>
            
            <div class="dropdown">
                <button class="dropbtn">Login
                </button>
                <div class="dropdown-content">
                    <form action="/" method="POST" id="form" class="form login">
                    <input type="hidden" name="_csrf"  value="<%= csrfToken %>">

                        <% if (info.message) { %>
                            <p class="mail-check"><%= info.message %></p>
                        <% } %>
                        <label for="login__email"  class="form__label">Email</label>
                        <input type="email" id="login_email" name="email" class="form__input"  required>
                        <label for="login__password" class="form__label">Password</label>
                        <input type="password" id="login__password" name="password" class="form__input"  required>
                        <button type="submit" class="form__btn" id="login__btn">Ingresar</button>
                    </form>
                </div>
            </div>

        </nav>
        <main class="main">
            <div class="main__container">
                <% if (user.avatar) { %>
                <img src="<%=user.avatar %>" alt="avatar" id="avatar" class="user__img" >
                <% } else{ %>
                 <img src="/images/profile.svg" alt="avatar" id="avatar" class="user__img">
                <% } %>
                    

                <section> 
                     <ul class="user__links">
                        <% user.links.forEach(function(link){%>
                            <% if (link.url) { %>
                                <li><a href="<%= link.url %>"><%= link.name %></a></li>
                            <% } %>
                        <% }); %>   
                    </ul> 
                    
                    <ul class="user__social">
                        <% if (user.facebook) { %>
                            <li><a href="<%= user.facebook%>"><i class="fab fa-facebook-square"></i></a></li>
                        <% } %>
                        <% if (user.instagram) { %>
                            <li><a href="<%= user.instagram%>"><i class="fab fa-instagram-square"></i></a></li>
                        <% } %>
                        <% if (user.twitter) { %>
                            <li><a href="<%= user.twitter%>"><i class="fab fa-twitter-square"></i></a></li>
                        <% } %>
                        <% if (user.youtube) { %>
                            <li><a href="<%= user.youtube%>"><i class="fab fa-youtube-square"></i></a></li>
                        <% } %>
                    </ul>
                </section>
                <div class="">
                    <img src="/images/arbolito.svg" alt="Logo" class="logo logo--main">
                    <p>Mi Arbolito</p>
                </div>
               
            </div>
            
            
        </main>
        <footer class="footer">
            <p class="text footer__text">&#169; 2020 by <a href="/" class="footer__link"> Arbolito</a></p>
        </footer>
    </div>
    <script src="/javascripts/avatarerror.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.15.1/js/brands.js" integrity="sha384-GUtlu2Qit8cdodM5DbKnbDIWFJA8nWCVEwETZXY2xvKV1TFLtD/AL+bCOsPyh05M" crossorigin="anonymous"></script>
    
   
</body>
</html>
