body {
  font-size: 0.9rem;
  font-family: "Heebo", sans-serif;
  color: #2e3336;
}

.title {
  font-size: 1.5rem;
  font-family: "Heebo", sans-serif;
}

.text {
  font-size: 0.9rem;
  font-family: "Heebo", sans-serif;
}

.d-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

.nav {
  background-color: #f6f4d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 3em;
}

.logo {
  width: 30px;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 1em 2em;
  border-radius: 0.5em;
  background-color: #f19c79;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f4d2;
  border-radius: 0.5em;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  width: 250px;
  right: 40px;
}

.dropdown-content form {
  padding: 2em;
}

.dropdown-content a {
  float: none;
  color: #2e3336;
  padding: 0.5em;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.main {
  background-color: #cbdfbd;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.main__container {
  background-color: rgba(212, 224, 155, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5em 2em;
  border-radius: 1em;
  max-width: 350px;
  z-index: 1;
  text-align: center;
}

.main__title {
  font-size: 5rem;
}

.main__subtitle {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 4em;
}

.main__img {
  max-height: 35vw;
  position: absolute;
  bottom: 0;
  right: 0;
}

.text-main {
  font-size: 0.9rem;
  font-weight: 700;
  color: #2e3336;
}

.form {
  text-align: left;
}

.form__label {
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 0.5em;
  color: #2e3336;
  display: block;
}

.form__input {
  font-size: 0.9rem;
  width: 100%;
  margin-bottom: 1em;
  padding-left: 1em;
  line-height: 2;
  border: none;
  border-radius: 0.5em;
}

.form__txt {
  font-size: 0.9rem;
  font-weight: 600;
  color: #2e3336;
}

.form__btn {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  background-color: #f19c79;
  display: inline-block;
  width: 100%;
  padding: 1em;
  color: #2e3336;
  border-radius: 0.5em;
  margin-top: 1em;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.form__btn:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

h1 {
  margin-bottom: 0.5em;
}

@media (min-width: 1025px) {
  h1 {
    font-size: 3rem;
  }
  .main__container {
    max-width: 850px;
  }
  .d-grid--form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr auto;
        grid-template-rows: 1fr auto;
  }
  .grid--form-l {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .grid--form-r {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    margin-left: 50px;
  }
  .form__btn {
    -ms-grid-column: 3;
    grid-column: 3/3;
  }
}

.footer {
  background-color: #f6f4d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__text {
  padding: 1em 0;
}

.footer__link {
  color: #2e3336;
  font-weight: 700;
  text-decoration: none;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.main__container {
  margin: 2em 0;
  padding: 2em;
}
/*# sourceMappingURL=panel.css.map */