body {
  font-size: 0.9rem;
  font-family: "Heebo", sans-serif;
  color: #2e3336;
}

.title {
  font-size: 1.5rem;
  font-family: "Heebo", sans-serif;
}

.text {
  font-size: 0.9rem;
  font-family: "Heebo", sans-serif;
}

.d-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

.nav {
  background-color: #f6f4d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 3em;
}

.logo {
  width: 30px;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 1em 2em;
  border-radius: 0.5em;
  background-color: #f19c79;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f4d2;
  border-radius: 0.5em;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  width: 250px;
  right: 40px;
}

.dropdown-content form {
  padding: 2em;
}

.dropdown-content a {
  float: none;
  color: #2e3336;
  padding: 0.5em;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.main {
  background-color: #cbdfbd;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.main__container {
  background-color: rgba(212, 224, 155, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5em 2em;
  border-radius: 1em;
  max-width: 350px;
  z-index: 1;
  text-align: center;
}

.main__title {
  font-size: 5rem;
}

.main__subtitle {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 4em;
}

.main__img {
  max-height: 35vw;
  position: absolute;
  bottom: 0;
  right: 0;
}

.text-main {
  font-size: 0.9rem;
  font-weight: 700;
  color: #2e3336;
}

.main__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 2em;
}

.main section {
  background-color: #f6f4d2;
  padding: 1em 0;
  min-width: 300px;
  border-radius: 0.5em;
  margin-bottom: 2em;
}

.user__img {
  width: 100px;
  height: 100px;
  border: 5px solid #f6f4d2;
  border-radius: 50%;
  margin-bottom: 2em;
  -o-object-fit: cover;
     object-fit: cover;
}

.user__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5em;
}

.user__links li {
  margin-bottom: 1em;
  width: 80%;
}

.user__links li a {
  color: #2e3336;
  display: block;
  background-color: #cbdfbd;
  padding: 0.5em 0;
  border-radius: 0.5em;
}

.user__links li a:hover {
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
}

.user__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.user__social li a:hover {
  -webkit-filter: brightness(103%);
          filter: brightness(103%);
}

.fab {
  font-size: 1.5rem;
  color: #f19c79;
}

.logo--main {
  margin: auto;
  margin-bottom: 0.5em;
}

.footer {
  background-color: #f6f4d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__text {
  padding: 1em 0;
}

.footer__link {
  color: #2e3336;
  font-weight: 700;
  text-decoration: none;
}
/*# sourceMappingURL=user.css.map */