<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arbolito</title>
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;600;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/stylesheets/panel.css">
    <link rel="stylesheet" href="/stylesheets/imgupload.css">

</head>
<body>
    <div class="d-grid">
        <nav class="nav">
            <a href="/" class="logo"><img src="/images/arbolito.svg" alt="Logo" class="logo"></a>
            
            <div class="dropdown">
                <form action="/logout" method="GET" id="form" >
                    <input type="hidden" name="_csrf"  value="<%=csrfToken %>">
                    
                    <button class="dropbtn" type="submit" id="login__btn">Logout</button>
                </form>

                
            </div>

        </nav>
        <main class="main">
            <div class="main__container">
                <h1>Mi Arbolito</h1>
                
                <form action="/panel/<%= user._userId%>/?_csrf=<%=csrfToken%>" method="post" enctype="multipart/form-data" class="form d-grid--form" id="form">
                    <input type="hidden" name="_csrf"  value="<%=csrfToken %>">
                    <div class="grid--form-l">
                        <% if (error) { %>
                            <p class="mail-check"><%= error.message %></p>
                        <% } %>
                        <label for="name" class="form__label">Ingresá tu nombre de usuario</label>
                        <input type="text" required id="name" name="name" class="form__input mb-2" 
                        value="<%= user !== null ? user.name : '' %>" minlength="2">
                        <label for="profile" class="form__label mb-1">Subí tu foto de perfil</label>
                        <div class="box">
                            <div class="js--image-preview" 
                                <% if (user.avatar) { %>
                                    style="background-image: url(<%=user.avatar %>)"
                                <% } %> >
                            </div>
                            <div class="upload-options">
                            <label>
                                <input type="file" name="avatar" class="image-upload" accept="image/*" value="/images/face"/>
                            </label>
                            </div>
                        </div>
                    </div>  
                    <div class="grid--form-r">
                        <p id="log" class="mail-check"></p>
                        <p class="text form__label mb-1">Completá con tus links (incluí "http")</p>
                        <!-- Link1 -->
                        <label for="linkOne" class="form__label">Link 1</label>
                        <input type="text" id="nameOne" name="nameOne" class="form__input mb-2" placeholder="Nombre" value="<%= user !== null ? user.links[0].name : '' %>" minlength="2">
                        <input type="url" id="urlOne" name="urlOne" class="form__input mb-2" placeholder="Link" value="<%= user !== null ? user.links[0].url : '' %>" minlength="2">
                        <!-- Link2 -->
                        <label for="linkTwo" class="form__label">Link 2</label>
                        <input type="text" id="nameTwo" name="nameTwo" class="form__input mb-2" placeholder="Nombre" value="<%= user !== null ? user.links[1].name : '' %>" minlength="2">
                        <input type="url" id="urlTwo" name="urlTwo" class="form__input mb-2" placeholder="Link" value="<%= user !== null ? user.links[1].url : '' %>" minlength="2">
                        <!-- Link3 -->
                        <label for="linkThree" class="form__label">Link 3</label>
                        <input type="text" id="nameThree" name="nameThree" class="form__input mb-2" placeholder="Nombre" value="<%= user !== null ? user.links[2].name : '' %>" minlength="2">
                        <input type="url" id="urlThree" name="urlThree" class="form__input mb-2" placeholder="Link" value="<%= user !== null ? user.links[2].url : '' %>" minlength="2">
                        <!-- Link4 -->
                        <label for="linkFour>" class="form__label">Link 4</label>
                        <input type="text" id="nameFour" name="nameFour" class="form__input mb-2" placeholder="Nombre" value="<%= user !== null ? user.links[3].name : '' %>" minlength="2">
                        <input type="url" id="urlFour" name="urlFour" class="form__input mb-2" placeholder="Link" value="<%= user !== null ? user.links[3].url : '' %>" minlength="2">
                        <!-- Link5 -->
                        <label for="linkFive" class="form__label">Link 5</label>
                        <input type="text" id="nameFive" name="nameFive" class="form__input mb-2" placeholder="Nombre" value="<%= user !== null ? user.links[4].name : '' %>" minlength="2">
                        <input type="url" id="urlFive" name="urlFive" class="form__input mb-2" placeholder="Link" value="<%= user !== null ? user.links[4].url : '' %>" minlength="2">
                        <!-- Social Media -->
                        <label for="facebook" class="form__label">Facebook</label>
                        <input type="url" id="facebook" name="facebook" class="form__input" 
                        value="<%= user !== null ? user.facebook : '' %>" minlength="2">
                        <label for="instagram" class="form__label">Instagram</label>
                        <input type="url" id="instagram" name="instagram" class="form__input" 
                        value="<%= user !== null ? user.instagram : '' %>" minlength="2">
                        <label for="twitter" class="form__label">Twitter</label>
                        <input type="url" id="twitter" name="twitter" class="form__input" 
                        value="<%= user !== null ? user.twitter : '' %>" minlength="2">
                        <label for="youtube" class="form__label">Youtube</label>
                        <input type="url" id="youtube" name="youtube" class="form__input" 
                        value="<%= user !== null ? user.youtube : '' %>" minlength="2">
                    </div>    
                    <button type="submit" class="form__btn" id="form__btn">Guardar</button>
                    <a href="/user/<%= user.name%>" class="form__btn">Ver Mi Arbolito</a>    
                    
                </form>
            </div>
            <img src="/images/fun.svg" alt="" class="main__img">
        </main>
        <footer class="footer">
            <p class="text footer__text">&#169; 2020 by <a href="/" class="footer__link"> Arbolito</a></p>
        </footer>
    </div>
    <script src="/javascripts/imgupload.js" ></script>
    <script>
        const btnForm = document.getElementById('form__btn');
        btnForm.addEventListener('click', () => {
            btnForm.textContent = 'Espera unos segundos =)';
        })
    </script>
</body>
</html>
