
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arbolito</title>
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;600;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <div class="d-grid">
        <nav class="nav">
            <a href="#" class="logo"><img src="/images/arbolito.svg" alt="Logo" class="logo"></a>
            
            <div class="dropdown">
                <button class="dropbtn">Login
                </button>
                <div class="dropdown-content">
                    <form action="" method="POST" id="form" class="form login">
                    <input type="hidden" name="_csrf"  value="<%= csrfToken %>">

                        <% if (info.message) { %>
                            <p class="mail-check"><%= info.message %></p>
                        <% } %>
                        <label for="login__email"  class="form__label">Email</label>
                        <input type="email" id="login_email" name="email" class="form__input"  required>
                        <label for="login__password" class="form__label">Password</label>
                        <input type="password" id="login__password" name="password" class="form__input"  required>
                        <button type="submit" class="form__btn" id="login__btn">Ingresar</button>
                    </form>
                </div>
            </div>

        </nav>
        <main class="main">
            <div class="main__container">
                <h1 class="title main__title">Arbolito</h1>
                <p class="text main__subtitle">Cambio de contraseña</p>
                <% if (info && info.message) { %>
                    <p class="mail-check"><%= info.message %></p>
                <% } %>
                <form action="/password/reset" method="POST" id="form" class="form">
                    <input type="hidden" name="_csrf"  value="<%= csrfToken %>">
                    <input type="hidden" id="email" name="email" class="form__input"  value="<%= usuario.email %>">
                    <!-- Password -->
                    <% if (errors.password) { %>
                        <p class="mail-check"><%= errors.password %></p>
                    <% } %>
                    <label for="password" class="form__label">Ingresá tu nueva contraseña</label>
                    <input type="password" id="password" name="password" class="form__input"  required>
                    <!-- Confirmacion Password -->
                    <% if (errors.confirm_password) { %>
                        <p class="mail-check"><%= errors.confirm_password.message %></p>
                    <% } %>
                    <label for="confirm_password" class="form__label">Confirmar Password</label>
                    <input type="password" id="confirm_password" name="confirm_password" class="form__input"  required>
                    <button type="submit" class="form__btn" id="form__btn">Guardar</button>
                </form>
                
               
            </div>
            <img src="/images/add.svg" alt="" class="main__img">
        </main>
        <footer class="footer">
            <p class="text footer__text">&#169; 2020 by <a href="#" class="footer__link"> Arbolito</a></p>
        </footer>
    </div>
    
</body>
</html>
