<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arbolito</title>
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;600;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <div class="d-grid">
        <nav class="nav">
            <a href="/" class="logo"><img src="/images/arbolito.svg" alt="Logo" class="logo"></a>

        </nav>
        <main class="main">
            <div class="main__container">
                <h1 class="title main__title">Arbolito</h1>
                <p class="text main__subtitle">Revisá tu email. Te van a llegar las instrucciones para resetear tu contraseña.</p>
            </div>
            <img src="/images/add.svg" alt="" class="main__img">
        </main>
        <footer class="footer">
            <p class="text footer__text">&#169; 2020 by <a href="/" class="footer__link"> Arbolito</a></p>
        </footer>
    </div>
</body>
</html>
